#page {
  padding-top: 44px;
  background-color: #fff;
  transition: all 0.3s ease;
  overflow-x: hidden;
}

.show-menu {
  transform: translateX($gap*4);
}

.page-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 7;
}

.posts-list {
  background-color: $white;
  li {
    padding: 10px $padding;
    border-bottom: $border;
  }
  h3 {
    @extend .title;
    &:before {
      content: attr(title);
      margin-right:　10px;
      margin-top: -3px;
      @extend .tag;
      color: $white;
    }
    &.top:before {
      background: #E74C3C;
    }
    &.good:before {
      background: #E67E22;
    }
    &.share:before {
      background: #1ABC9C;
    }
    &.ask:before {
      background: #3498DB;
    }
    &.job:before {
      background: #9B59B6;
    }
  }
  .content {
    display: flex;
    padding-top: 10px;
  }
  .avatar {
    @extend .user-avatar;
  }
  .info {
    display: block;
    flex: 1;
    width: 100%
  }
  p {
    display: flex;
    padding: 3px 0;
    color: $text;
    font-size: $font-info;
    &:first-child {
      font-size: $font-content;
    }
    .name, time:first-child {
      display: block;
      flex: 1;
      width: 100%;
    }
    b {
      color: #42b983;
    }
  }
}